<body>
    <section id="contenido">
        <aside id="sidebar">
            <div id="about" class="mr-5 mb-4">
                
                <img src="../assets/malnutricion.png" alt="Hambre0">
                <p class="mt-4">
                    La malnutrición es un desequilibrio entre los nutrientes que el organismo necesita y aquellos de que dispone. Por lo tanto, incluye tanto la sobrealimentación (el consumo de una cantidad excesiva de calorías o de un nutriente específico, ya sean grasas, vitaminas, minerales o un suplemento dietético), como la desnutrición.
                    
                </p>

            </div>
        </aside>
            <div id="posts" class="px-4">
                <article class="post">
                    <h2>El número de personas con desnutrición alcanzó los 821 millones en 2017.</h2>
                    <p>
                        El número de personas desnutridas en el mundo ha aumentado desde 2015 y ha vuelto a los niveles de 2010-2011. En The State of Food Security and Nutrition in the World 2019 (Estado mundial de la seguridad alimentaria y la nutrición en 2019), la Organización de las Naciones Unidas para la Alimentación y la Agricultura informó que, en todo el mundo, el número de personas desnutridas aumentó de 777 millones en 2015 a más de 820 millones en 2019. La mayoría de ellas vive en países en desarrollo.
                        <br>
                        <br>
                        En los países desarrollados, la desnutrición es menos frecuente que la sobrealimentación. Sin embargo, determinadas circunstancias aumentan el riesgo de desnutrición. Entre estas situaciones o trastornos se incluye:

                        Ser muy pobre
                        No tener hogar
                        Sufrir trastornos psiquiátricos
                        Estar muy enfermo (una persona enferma puede ser incapaz de comer lo necesario por inapetencia o porque su organismo presenta un mayor requerimiento nutritivo)
                        Ser una persona joven (los lactantes, los niños y los adolescentes tienen mayor riesgo de desnutrición a causa del crecimiento y, por tanto, necesitan mayor número de calorías y nutrientes)
                        <br>
                        br>
                        Ser una persona mayor
                        Alrededor de 1 de cada 7 ancianos que viven en sus hogares consumen menos de 1000 calorías al día, las cuales no son suficientes para tener una nutrición adecuada. Hasta la mitad de las hospitalizadas o que viven en residencias de atención a largo plazo no consumen las calorías necesarias.
                    </p>
                </article>
            </div>
    </section>
</body>


<div class="col-6 mb-4 mt-4">
    <a class="btn btn-info text-light mx-5 my-4" routerLink="/articulos" role="button">Volver al inicio</a></div>
<div class="card-footer">