<body>
    <section id="contenido">
        <aside id="sidebar">
            <div id="about" class="mr-5 mb-4">
                
                <img src="../assets/Obesidad.png" alt="Hambre0">
                <p class="mt-4">
                    En los últimos años, la obesidad se ha convertido en
una de las enfermedades metabólicas más frecuentes,
constituyendo actualmente uno de los grandes
problemas de la salud pública. Su prevalencia
ha crecido en forma alarmante en las
últimas décadas y es hoy considerada
como una epidemia global.
                </p>

            </div>
        </aside>
            <div id="posts" class="px-4">
                <article class="post">
                    <h2>Más de 1 de cada 8 adultos es obeso.</h2>
                    <p>
                        La obesidad se define como una enfermedad caracterizada por un exceso de grasa corporal. Por lo
general, se acompaña de aumento de peso aunque
no todo aumento de peso es igual a obesidad, por lo
que, esta simple definición requiere conocer la composición corporal.
Normalmente en un hombre adulto aproximadamente el 12-20% de su peso corporal está compuesto por grasa y en una mujer el 20-30 %.
Si la grasa corporal de un individuo supera los porcentajes máximos de acuerdo a su sexo, podemos
afirmar que tiene exceso de grasa corporal.
 Actualmente existen diferentes métodos científicos para medir la composición corporal como la
bioimpedancia, pliegues cutáneos, otros algo más
sofisticados: imagenología por rayos X, densitometría, dilución isotónica, etc.
 En la práctica clínica se usan para diagnosticar y
clasificar la obesidad, técnicas más sencillas, basadas
en la relación de medidas antropométricas.
El índice de masa corporal (IMC) es un indicador
simple de la relación entre el peso y la talla que se
utiliza frecuentemente para identificar el sobrepeso
y la obesidad en los adultos. Es una medida fácil de
obtener, con una buena correlación con la composición corporal, reproducible y de valor diagnóstico y
pronóstico
                        <br>

                        <br>
                        Datos y cifras
     Desde 1980, la obesidad se ha duplicado en
todo el mundo.
    En 2008, 1400 millones de adultos (de 20
y más años) tenían sobrepeso. Dentro de este
grupo, más de 200 millones de hombres y cerca
de 300 millones de mujeres eran obesos.
    El 65% de la población mundial vive en países donde el sobrepeso y la obesidad se cobran
más vidas de personas que la desnutrición.
    En 2010, alrededor de 40 millones de niños
menores de cinco años tenían sobrepeso.
    En Uruguay, según datos de la encuesta
ENSO II (2006): entre 18 a 65 años y más, determinaron que el 54% de la población presentaba
algún grado de sobrepeso, de los cuales 34%
se encontraba en rango de sobrepeso y 20% en
grado de obesidad. Comparado con estudios
anteriores se ha detectado un aumento de 3%
de obesidad.
    La obesidad puede prevenirse
                         
                    </p>
                </article>
    
    
            </div>
    </section>
</body>
<div class="col-6 mb-4 mt-4">
    <a class="btn btn-info text-light" routerLink="/galeria" role="button">Volver al inicio</a></div>
<div class="card-footer">