<div class="card-deck mx-3 my-3">
  <div class="card" *ngFor="let inf of datosJSON">
    <img class="card-img-top" src="{{inf.imagen}}" alt="Card image cap">
    <div class="card-body" >
      <h5 class="card-title">{{inf.titulo}}</h5>
      <p>{{inf.contenido}}</p>
    </div>
    <div class="col-6 mb-4"><a class="btn btn-info text-light" routerLink="/a1" role="button">Mas Informacion</a></div>
    <div class="card-footer">
      <small class="text-muted">
        {{inf.autor}}<cite title="Source Title"><br>{{inf.referencia}}</cite>
      </small>
    </div>
  </div>
</div>


<div class="card-deck mx-3 my-3"><!--Cards 2-->
  <div class="card" *ngFor="let inf of datosJSON2">
    <img class="card-img-top" src="{{inf.imagen}}" alt="Card image cap">
    <div class="card-body" >
      <h5 class="card-title">{{inf.titulo}}</h5>
      <p>{{inf.contenido}}</p>
    </div>
    <div class="col-6 mb-4"><a class="btn btn-info text-light" routerLink="/a1" role="button">Mas Informacion</a></div>
    <div class="card-footer">
      <small class="text-muted">
        {{inf.autor}}<cite title="Source Title"><br>{{inf.referencia}}</cite>
      </small>
    </div>
  </div>
</div><!--End cards 2-->
<div class="card bg-primary text-white text-center p-3 m-4">
  <blockquote class="blockquote">
    <h1 class="card-header">Objetivo 2: Hambre cero</h1>
    <br>
    <p class="text-justify">Debido al rápido crecimiento económico y al aumento de la productividad agrícola en las últimas dos décadas, el número de personas desnutridas disminuyó casi a la mitad. Muchos países en desarrollo que sufrían hambrunas están ahora en condiciones de satisfacer las necesidades nutricionales de los más vulnerables. Regiones como Asia Central y Oriental y América Latina y el Caribe han avanzado enormemente en la erradicación del hambre.
      <br>
      <br>
      Desgraciadamente, el hambre y la desnutrición siguen siendo grandes obstáculos para el desarrollo de muchos países. Se estima que 821 millones de personas sufrían de desnutrición crónica al 2017, a menudo como consecuencia directa de la degradación ambiental, la sequía y la pérdida de biodiversidad. Más de 90 millones de niños menores de cinco años tienen un peso peligrosamente bajo. La desnutrición y la inseguridad alimentaria parece estar incrementándose tanto en casi todas las de regiones de África, como en América del Sur.
      <br>
      <br>
      Los Objetivos de Desarrollo Sostenible buscan terminar con todas las formas de hambre y desnutrición para 2030 y velar por el acceso de todas las personas, en especial los niños, a una alimentación suficiente y nutritiva durante todo el año. Esta tarea implica promover prácticas agrícolas sostenibles a través del apoyo a los pequeños agricultores y el acceso igualitario a la tierra, la tecnología y los mercados. Además, se requiere el fomento de la cooperación internacional para asegurar la inversión en la infraestructura y la tecnología necesaria para mejorar la productividad agrícola.</p>
    <footer class="blockquote-footer">
      <small class="text-muted">
        © 2021 <cite title="Source Title">Programa de las Naciones Unidas para el Desarrollo</cite>
      </small>
    </footer>
  </blockquote>
</div>