<body>
    <section id="contenido">
        <aside id="sidebar">
            <div id="about" class="mr-5 mb-4">
                
                <img src="../assets/desnutricion.jpg" alt="Hambre0">
                <p class="mt-4">
                    La principal causa de la desnutrición en el mundo es la pobreza. Millones de niños carecen de alimento o subsisten con dietas perjudiciales para su salud porque no tienen otra opción. La desigualdad, los conflictos y las guerras también están detrás de la desnutrición infantil en el mundo.
                </p>

            </div>
        </aside>
            <div id="posts" class="px-4">
                <article class="post">
                    <h2>Cerca de 151 millones de niños menores de cinco años, el 22%, todavía estaban mal desarrollados en 2017.</h2>
                    <p>
                        Los desastres relacionados con el clima provocan crisis alimentarias graves y encarecen los precios de la comida, además de perjudicar la calidad de los productos agrícolas.
                        Las guerras y los desplazamientos son una de las principales causas de la desnutrición infantil y el hambre en el mundo. Actualmente, 70,8 millones de personas se han visto forzadas a huir de conflictos y de la violencia y lo han perdido todo.
                        <br>

                        <br>
                        Cuando los refugiados y desplazados llegan a un asentamiento o a un campo de refugiados, lo primero que hace ACNUR es encargarse de cubrir sus necesidades de alimento. De media, se reparten en un campo de refugiados raciones de comida suficiente para aportar a cada persona un mínimo de 2.100 calorías al día. La falta de financiación dificulta enormemente la entrega de alimento.
                        La región más afectada por el hambre actualmente es el sur de Asia, donde el 34,4 % de sus menores de cinco años sufre desnutrición crónica. África mantiene sus índices en el 33 %.
                        Las comunidades más pobres son las que sufren mayor desnutrición infantil. La mayoría de las muertes relacionadas con esta causa se produce en los países de ingresos bajos y medianos.
                        La niñez refugiada y desplazada tiene un riesgo mayor de padecer desnutrición. A menudo no tienen fácil acceso a alimentos ni a servicios médicos adecuados.
                         
                    </p>
                </article>
    
    
            </div>
    </section>
</body>
<div class="col-6 mb-4 mt-4">
    <a class="btn btn-info text-light" routerLink="/galeria" role="button">Volver al inicio</a></div>
<div class="card-footer">