<body>
    <section id="contenido">
        <aside id="sidebar">
            <div id="about" class="mr-5 mb-4">
                
                <img src="../assets/agricultura.jpg" alt="Hambre0">
                <p class="mt-4">
                    En las estadísticas comerciales se considera la agricultura únicamente como una actividad económica. La agricultura como forma de vida, patrimonio, identidad cultural, pacto ancestral con la naturaleza, no tiene un valor monetario.
                </p>

            </div>
        </aside>
            <div id="posts" class="px-4">
                <article class="post">
                    <h2>¿Sigue siendo tan importante la agricultura hoy en día como siempre lo ha sido? </h2>
                    <p>
                        Las estadísticas de la FAO revelan que en los albores del nuevo milenio 2 570 millones de personas dependen de la agricultura, la caza, la pesca o la silvicultura para su subsistencia, incluidas las que se dedican activamente a esas tareas y sus familiares a cargo sin trabajo. Representan el 42 por ciento de la humanidad. La agricultura impulsa la economía de la mayoría de los países en desarrollo. En los países industrializados, tan sólo las exportaciones agrícolas ascendieron aproximadamente a 290 000 millones de dólares EE.UU. en 2001. Históricamente, muy pocos países han experimentado un rápido crecimiento económico y una reducción de la pobreza que no hayan estado precedidos o acompañados del crecimiento agrícola.
                        Entre otras importantes contribuciones no monetarias de la agricultura cabe citar el hábitat y el paisaje, la conservación del suelo, la ordenación de las cuencas hidrográficas, la retención de carbono y la conservación de la biodiversidad. El agroturismo cuenta con numerosos adeptos en muchos países desarrollados y en desarrollo, ahora que los habitantes de la ciudad buscan una escapada pacífica y demuestran un interés nuevo en los lugares de donde proceden sus alimentos.
                        Pero quizás la aportación más significativa de la agricultura sea que, para más de 850 millones de personas subnutridas, la mayoría de ellas en las zonas rurales, constituye un medio para salir del hambre. Sólo cuentan con un acceso seguro a los alimentos si los producen ellos mismos o tienen dinero para comprarlos. El sector que ofrece más posibilidades de ganar dinero en las zonas rurales es un sector floreciente de la alimentación y la agricultura.
                        <br>

                        <br>
                        En la Cumbre Mundial sobre la Alimentación, celebrada en Roma en 1996, y después en la Cumbre Mundial sobre la Alimentación: cinco años después, celebrada en 2002, los dirigentes mundiales se comprometieron a reducir a la mitad el número de personas hambrientas para el año 2015. Al suscribir los "Objetivos de desarrollo del milenio de las Naciones Unidas", los dirigentes se comprometieron a reducir la pobreza extrema y el hambre a la mitad para el año 2015 y a garantizar la sostenibilidad del medio ambiente.
                        Muchas iniciativas internacionales y redes de la sociedad civil, como la Alianza Internacional contra el Hambre, sirven de foro para que personas de diferentes culturas se reúnan y planeen medidas para reducir el hambre. La campaña TeleFood de la FAO sensibiliza acerca del hambre mediante manifestaciones culturales, como por ejemplo conciertos. El Día Mundial de la Alimentación brinda una oportunidad a escala local, nacional e internacional para impulsar el diálogo y aumentar la solidaridad
                        La ingeniosidad humana y cultural, una visión adecuada, las asociaciones y el apoyo -incluidos el de la FAO y el de la comunidad internacional- pueden sin duda generar progresos en la consecución de la seguridad alimentaria para todos.
                         
                    </p>
                </article>
    
    
            </div>
    </section>
</body>
<div class="col-6 mb-4 mt-4">
    <a class="btn btn-info text-light mx-5 my-4" routerLink="/articulos" role="button">Volver al inicio</a></div>
<div class="card-footer">