table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  td{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
  }

  th{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
  }

#nombre{
  font-weight: bolder;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
}