<body>
    <section id="contenido">
        <aside id="sidebar">
            <div id="about" class="mr-5 mb-4">
                
                <img src="../assets/asia.jpg" alt="Hambre0">
                <p class="mt-4">
                    Más de 350 millones de personas en la región Asia-Pacífico pasan hambre a medida que la pandemia del coronavirus destruye empleos y eleva el precio de los alimentos, advirtieron el miércoles agencias de Naciones Unidas.
                </p>

            </div>
        </aside>
            <div id="posts" class="px-4">
                <article class="post">
                    <h2>pandemia y subida de precios causan hambre en Asia.</h2>
                    <p>
                        La pandemia está dificultando que 1.900 millones de personas puedan permitirse una dieta saludable, explicaron las cuatro agencias en un reporte. El informa sigue a otro que preveía que, en el peor de los casos, 828 millones de personas podrían sufrir hambre aguda a consecuencia de la crisis.
                        La última estimación es que de los cerca de 688 millones de personas desnutridas en todo el mundo, más de la mitad están en Asia. Y de estos, la mayoría se encuentran en países del sur del continente como Afganistán, donde cuatro de cada 10 personas están malnutridas.
                        El reporte se basa principalmente en datos hasta 2019, antes del inicio de la pandemia. Pero también estima que otros 140 millones de personas podrían haber caído en la extrema pobreza en 2020 por el impacto de los brotes de coronavirus y las cuarentenas decretadas para frenarlo. A finales del año pasado se creía que unos 265 millones de personas enfrentaban inseguridad alimentaria grave.
                        <br>

                        <br>
                        Un factor clave es la asequibilidad de los alimentos, un problema que afecta tanto a naciones ricas como Japón o a otras más pobres, como Timor Oriental y Papúa Nueva Guinea, apuntó el informe elaborado por la Organización de Naciones Unidas de la Alimentación y la Agricultura (FAO). UNICEF, el Programa Mundial de Alimentos y la Organización Mundial de la Salud.
                        Las alteraciones y las pérdidas de empleo por la pandemia están impidiendo que las familias tengan suficiente para comer en muchos lugares. Esto se evidencia en las largas finas que se ven ante los bancos de alimentos incluso en Estados Unidos.
                        En toda Asia, el elevado precio de las frutas, verduras y productos lácteos han hecho que sea “casi imposible” que las familias con bajos ingresos tengan una dieta saludable, apuntó el reporte. Los datos de la FAO muestran que los precios de los alimentos subieron a su nivel más alto en casi seis años en noviembre.
                        Muchos en la región acaban consumiendo alimentos procesados más baratos y altos en calorías que contribuyen a problemas de obesidad y diabetes, y que carecen de vitaminas y minerales.
                        El costo de una privación a largo plazo se ve en una tasa de mortalidad y enfermedad más elevada. Decenas de millones de niños sufren retraso en el crecimiento, lo que les impide alcanzar su máximo potencial.
                        
                    </p>
                </article>
    
    
            </div>
    </section>
</body>


<div class="col-6 mb-4 mt-4">
    <a class="btn btn-info text-light mx-5 my-4" routerLink="/galeria" role="button">Volver al inicio</a></div>
<div class="card-footer">